
body {
  margin: 0;
  padding-bottom: 4rem;
}

body,
a {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

body > * {
  margin: 0;
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: solid #eee 4px;
}

header {
  background-color: #000;
  color: #fff;
}

nav {
  padding: 0.5rem;
  background-image: linear-gradient(rgba(55, 51, 102, 0.9), #000);
  color: #fff;
}

nav > ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav > ol > li:first-child {
  flex-grow: 1;
  text-align: left;
}

nav > ol > li > a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

nav > ol > li > a:hover {
  text-decoration: underline;
}

h1,
header > h2 {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

h1 {
  font-size: 1.4rem;
}

header > h2 {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0;
}

article {
  margin: 0 1rem;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgb(72, 72, 72);
}

article > h2 {

}
article > div.byline {
  font-style: italic;
  position: relative;
  font-size: 1rem;
  border-bottom: solid #888 1px;
  padding-left: 1rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1.5rem;
}

article > .byline > img {
  border-radius: 100%;
  border: solid #ddd 1px;
  width: 2.5rem;
  position: relative;
  top: 1rem;
  margin-right: 0.5rem;
}

article > .byline > address {
  display: inline;
}

.byline > address > a {
  text-decoration: none;
}

article > p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

article > p:first-of-type::first-letter {
  font-size: 4em;
  float: left;
  padding: 1.3rem 0.25rem 0.4rem 0;
}


/* Index page */

main.index div.byline {
  border-bottom: none;
  padding: 0;
}

main.index article > a > h2 {
  margin-bottom: 0.2rem;
}

main.index > ol {
  list-style: none;
  padding: 0;
}

/* Posts */

article figure {
  text-align: center;
}

article figure img {
  width: 75%;
}

/* Non-Mobile */

@media screen and (min-width: 1024px) {
  header {
    background-image: url("/images/header-background-grayscale.png");
    padding-top: 0;
    padding-bottom: 6rem;
    position: relative;
    border-bottom: solid #000 2px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }

  nav {
    display: block;
    padding: 0.5rem 2rem;
    margin-bottom: 6rem;
    text-align: right;
    background-image: none;
    background-color: rgba(55, 51, 102, 0.9);
    color: #fff;
  }

  nav > ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav > ol > li > a {
    color: #fff;
    text-decoration: none;
  }

  h1,
  header > h2 {
    background-color: rgba(0, 0, 0, 0.55);
  }

  h1 {
    padding-bottom: 2rem 0 1rem 0;
    font-size: 2rem;
  }

  header > h2 {
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  article {
    margin: 1rem auto 0 auto;
    width: 94%;
  }

  article figure {
    display: inline-block;
    text-align: left;
    float: right;
    max-width: 33%;
    margin: 1rem 0 1rem 1rem;
  }

  article figure img {
    width: 33vw;
  }

}
